{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": [
    "google"
  ],
  "rules": {
    "require-jsdoc": 0,
    "semi": 0,
    "spaced-comment": 0,
    "max-len": 0
  }
}
