/*! GlobalTab by Miguel Nunes - https://github.com/mignz/GlobalTab */

// -- Variables ------------------------

$color-bg: #1e1e1e;
$color-bg-box: #242424;
$color-blue: #1c4485;
$color-bright: #cde0ff;
$color-font: #eaeaea;

// -- General --------------------------

body {
  background-color: $color-bg;
  color: $color-font;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 2px;
}

a {
  color: $color-font;
  text-decoration: none;
}

// -- Buttons --------------------------

.button {
  color: lighten($color-blue, 20%);
  display: none;
  float: right;
  font-size: .75em;
  margin-top: -5px;
  
  &:hover {
    color: lighten($color-blue, 40%);
  }
}

.button-manage {
  background-color: $color-bg-box;
  border: 1px solid $color-bg;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  padding: 5px;
  position: absolute;
  right: 15px;
  text-transform: uppercase;
  top: 18px;
}

// -- Grid -----------------------------

.box {
  width: 20%;
}

.box {
  background-color: $color-bg-box;
  position: absolute;
}

@media (max-width: 1400px) {
  .box {
    width: 25%;
  }
}

@media (max-width: 1120px) {
  .box {
    width: 33.333333333%;
  }
}

@media (max-width: 840px) {
  .box {
    width: 50%;
  }
}

@media (max-width: 560px) {
  .box {
    width: 100%;
  }
}

.inner {
  border: 2px solid $color-bg;
  padding: 15px 0;
  padding-bottom: 0;
  position: relative;
  
  &:hover {
    .button-manage {
      display: inline;
    }
  }
  
  h1 {
    cursor: pointer;
    color: $color-bright;
    font-size: 1.4em;
    font-weight: 100;
    letter-spacing: 3px;
    margin: 0;
    padding: 0 15px;
    text-transform: uppercase;
    user-select: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
    
    li {
      overflow: hidden;
      padding: 0 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      
      .img {
        background: darken($color-bg-box, 3%);
        border-radius: 5px;
        color: $color-font;
        display: inline;
        margin-right: 8px;
        padding: 8px;
      }
      
      a {
        display: block;
        padding: 12px 0;
        user-select: none;
      }
      
      img {
        opacity: .8;
        vertical-align: bottom;
      }
      
      &:hover {
        background: $color-blue;
        
        .img {
          background: darken($color-blue, 10%);
        }
      }
    }
  }
}
